{% extends "home/base.html" %}

{% block title %}PELÍCULAS{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <!-- Título principal -->
    <h1 class="display-1 text-gradient">Películas Plus+</h1>
    <p class="lead">Encuentra las mejores películas aquí.</p>

    <!-- Buscador de películas -->
    <form class="search-bar mx-auto mt-4" action="/buscar" method="GET" style="max-width: 500px;">
    <div class="input-group">
        <input type="text" class="form-control form-control-lg shadow" name="q" placeholder="Buscar películas..." aria-label="Buscar películas..." required>
        <button class="btn btn-lg btn-primary shadow" type="submit">
        <i class="fas fa-search"></i> Buscar
        </button>
    </div>
    </form>
</div>

<div class="container">
    <h1 class="text-center my-4 text-light">Lista de Películas</h1>

    <div class="movie-grid">
        {% for pelicula in peliculas %}
        <div class="movie-card">
            <div class="movie-image">
                {% if pelicula.imagen %}
                <img src="{{ url_for('static', filename='uploads/' + pelicula.imagen.split('/')[-1]) }}"
                    alt="Imagen de {{ pelicula.titulo }}">
                {% else %}
                <img src="{{ url_for('static', filename='images/default_movie.jpg') }}" alt="Imagen por defecto">
                {% endif %}
            </div>
            <div class="movie-info">
                <h5>{{ pelicula.titulo }}</h5>
                <p>{{ pelicula.descripcion }}</p>
                <p><span class="text-info">Idioma:</span> {{ pelicula.idioma }}</p>
                <p><span class="text-warning">Precio:</span> ${{ pelicula.precio|round(2) }}</p>
            </div>
        </div>
        {% else %}
        <p class="text-center text-light mt-4">No hay películas disponibles.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
