{% extends "cliente/base.html" %}

{% block title %}Catálogo de Películas{% endblock %}

{% block content %}
<div class="container">
    <!-- Formulario de búsqueda -->
    <div class="text-center mt-4">
        <form class="search-bar mx-auto" action="{{ url_for('client.buscar') }}" method="GET" style="max-width: 500px;">
            <div class="input-group">
                <input type="text" class="form-control form-control-lg shadow" name="q" placeholder="Buscar películas..." aria-label="Buscar películas..." required>
                <button class="btn btn-lg btn-primary shadow" type="submit">
                    <i class="fas fa-search"></i> Buscar
                </button>
            </div>
        </form>
    </div>

    <!-- Título de la página con el resultado de búsqueda -->
    {% if query %}
        <h2 class="text-center text-light mt-4">Resultados de búsqueda para "{{ query }}"</h2>
    {% else %}
        <h1 class="text-center my-4 text-light">Catálogo de Películas</h1>
    {% endif %}

    <!-- Mostrar las películas -->
    <div class="movie-grid">
        {% for pelicula in peliculas %}
        <div class="movie-card">
            <div class="movie-image">
                {% if pelicula.imagen %}
                <img src="{{ url_for('static', filename='uploads/' + pelicula.imagen.split('/')[-1]) }}" alt="Imagen de {{ pelicula.titulo }}">
                {% else %}
                <img src="{{ url_for('static', filename='images/default_movie.jpg') }}" alt="Imagen por defecto">
                {% endif %}
            </div>
            <div class="movie-info">
                <h5>{{ pelicula.titulo }}</h5>
                <p>{{ pelicula.descripcion }}</p>
                <p><span class="text-info">Idioma:</span> {{ pelicula.idioma }}</p>
                <p><span class="text-warning">Precio:</span> ${{ pelicula.precio|round(2) }}</p>
                <form action="{{ url_for('venta.create_from_index') }}" method="POST">
                    <input type="hidden" name="pelicula_id" value="{{ pelicula.id }}">
                    <button type="submit" class="btn btn-danger">Comprar</button>
                </form>
            </div>
        </div>
        {% else %}
        <p class="text-center text-light mt-4">No se encontraron películas que coincidan con tu búsqueda.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
