body {
  background-color: #121212;
  color: #e0e0e0;
}

.navbar {
  background-color: #1c1c1c;
}

.navbar-brand, .nav-link {
  color: #e0e0e0 !important;
}

.nav-link.active {
  color: #4caf50 !important;
}

.card {
  background-color: #1c1c1c;
  border: 1px solid #333;
  color: #e0e0e0;
  size: 0cm;
}

.btn-primary {
  background-color: #4caf50;
  border: none;
}

.btn-primary:hover {
  background-color: #45a049;
}
